<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="~/Areas/mvc/wwwroot/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/mvc/wwwroot/css/jquery.bxslider.min.css">
    <link rel="stylesheet" href="~/Areas/mvc/wwwroot/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/mvc/wwwroot/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->       
</head>
<body>
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->
    <!-- Add your site or application content here -->
    <div class="header">
        <div class="container">
            <a href="http://skystem.com/" target="_blank">
                <img class="logo" src="~/Areas/mvc/wwwroot/images/logo.svg" />
            </a>
        </div>
    </div>
    <div class="bxslider-background hidden-xs">
        <div id="pager"></div>
        <ul class="bxslider">
            <li id="bxslide-1" class="bxslide" style="background-image: url('@Url.Content("~/Areas/mvc/wwwroot/images/skystem_img_2.jpg")');">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 hidden-xs">
                            <div class="slider-content">
                                <h1>Introducing E-Rec Binder</h1>
                                <p class="subheader">
                                    Extract your reconciliations
                                    <br />onto your own servers on demand.
                                </p>
                                <a href="http://skystem.com/" target="_blank">
                                    <button class="button btn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li id="bxslide-2" class="bxslide" style="background-image: url('@Url.Content("~/Areas/mvc/wwwroot/images/skystem_img_1.jpg")');">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 hidden-xs">
                            <div class="slider-content">
                                <h1>SkyStem Quality Scores</h1>
                                <p class="subheader">Your reconciliations. Automatically scored.</p>
                                <a href="http://skystem.com/" target="_blank">
                                    <button class="button btn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container main" role="main">
        <div class="row">
            <div id="main-right-col" class="col-sm-4 col-sm-push-8">
                <div class="row ">
                    <div class="content-box login-input-box">
                        <h2>Welcome to your crystal clear close.</h2>
                        <span id="login-message">@Html.Raw(ViewBag.Message)</span>
                        @RenderBody()                        
                    </div>
                </div>
                <div class="row ">
                    <div class="content-box need-help-box">
                        <h2>Need Help with ART?</h2>
                        <a href="tel://877.778.3320" class="helper-text phone"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>&nbsp;1-877-778-3320</a><a href="mailto:helpme@skystem.com?subject=ART Help Request" class="helper-text"><i class="fa fa-envelope" aria-hidden="true"></i> helpme@skystem.com</a>
                    </div>
                </div>
                <footer class="row">
                    <div class="copyright">
                        &copy; Copyright 2010-@DateTime.Now.Year Skystem LLC. Web-based Reconciliation Tool - ART. All rights reserved. Various trademarks held by their respective owners.
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/Areas/mvc/wwwroot/js/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="~/Areas/mvc/wwwroot/js/jquery.min.js"><\/script>')
    </script>
    <script src="~/Areas/mvc/wwwroot/js/jquery.bxslider.min.js"></script>
    <script src="~/Areas/mvc/wwwroot/js/site.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>

  
        
        
</body>
</html>